/* * {
    box-sizing: border-box;
}

/* Style the body */
/* body, html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
} */

/* ul {
    font-family: monospace;
    } */

/* Header/logo Title */

::selection {
    background: lightgray; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: lightgray; /* Gecko Browsers */
}

.header {
    text-align: center;
    /* background-image: url();*/
    background-color: gray;
    color: white;
}

.fullscreen {
    height: 100%;
    width: 100%; 
    /* Set the height to match that of the viewport. */
    height: 100vh; 

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
    position: relative;
    overflow: auto;
    background: gray;
    color: white; /* Just to visualize the extent */
    text-align: center;
    vertical-align: center;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 40vh;
  }

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
    flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
    float: none;
    width: 100%;
    }
}

/* li {
    list-style: circle;
}

.list {
    list-style: square;
} */

#date {
    margin: 15px;
    font-size: 12px;
    /*font-style: italic;*/
    font-weight: bold;
}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Quicksand", sans-serif
}