::selection {
    background: lightgray; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: lightgray; /* Gecko Browsers */
}

#date {
    margin: 15px;
    font-size: 12px;
    /*font-style: italic;*/
    font-weight: bold;
}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Quicksand", sans-serif
}